.root {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
}

.scrollable {
  width: 100%;
  min-width: 2rem;
  overflow: scroll;
  scrollbar-width: thin;
}

.input {
  --money-input-font-size: 2.5rem;

  --money-input-column-gap: 0.25rem;

  --money-input-padding-horizontal: 0.25rem;
  --money-input-padding-vertical: 0.125rem;

  --money-input-currency-font-size: calc(var(--money-input-font-size) * 0.5);

  --money-input-input-width: calc(
    var(--money-input-money-input-width-scale, 1) * 1ch +
      var(--money-input-padding-horizontal) * 2 + var(--money-input-column-gap) +
      var(--money-input-currency-font-size)
  );

  display: flex;
  column-gap: var(--money-input-column-gap);
  border-radius: 0.25rem;

  /* font-family: var(--money-input-font-family-regular); */
  font-size: var(--money-input-font-size);

  padding: var(--money-input-padding-vertical)
    var(--money-input-padding-horizontal);

  width: var(--money-input-input-width);
}

.input .currency {
  font-size: var(--money-input-currency-font-size);
  vertical-align: top;
  margin-top: 0.5rem;
}

.input .currency.textSoft {
  color: var(--money-input-secondary-color, rgba(19, 19, 19, 0.63));
}

.input input {
  -webkit-tap-highlight-color: transparent;
  color: black;
  appearance: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  width: inherit;
}

.input.error {
  outline: 1px solid var(--money-input-error-color, #f86565);
}

.input.disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
