.root {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0 0.25rem;
}

.scrollable {
  width: 100%;
  min-width: 2rem;
  overflow: scroll;
  scrollbar-width: thin;
  background: black;
}

.input {
  background: rgb(151, 193, 255);

  display: inline-flex;
  align-items: center;

  font-size: 2.5rem;
  border-radius: 0.25rem;
}

.input .moneySizer {
  position: absolute;
  visibility: hidden;
  white-space: pre;
  font: inherit;
  letter-spacing: inherit;
  font-variant-numeric: inherit;
  /* keep it out of flow so it doesn't affect layout */
}

.root .currency {
  font-size: var(--money-input-currency-font-size);
  vertical-align: top;
  margin-top: 0.5rem;
}

.root .currency.textSoft {
  color: var(--money-input-secondary-color, rgba(19, 19, 19, 0.63));
}

.input input {
  -webkit-tap-highlight-color: transparent;
  color: black;
  appearance: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  width: inherit;
}

.input.error {
  outline: 1px solid var(--money-input-error-color, #f86565);
}

.input.disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
